<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" >
    <link rel="stylesheet" type="text/css" href="/static/estilos/base.css"/>
    <title>${title}</title>
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <link rel="stylesheet" href="static/bootstrap/dist/css/bootstrap.min.css" media="screen">
</head>
<body>

        <%block name="header"/>
        <%block name="content"/>
        <%block name="footer"/>

        <!-- jQuery (necessary for Bootstrap JavaScript plugins) -->
        <script src="static/jquery/jquery-1.10.2.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="static/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>