#-*- coding: utf-8 -*-

<%inherit file="templates/base.html"/>

<%block name="header">
	<%include file="header.html"/>
</%block>

<%block name="content">
    <div class="content wrap">
        <div class="col-md-3 main">
            <div class="list-group">
              <a href="/" class="list-group-item active">${ultimaVisita}</a>
              % if penultimaVisita != '':
                  %if penultimaVisita == 'Inicio':
                    <a href="/" class="list-group-item">${penultimaVisita}</a>
                  %elif penultimaVisita == 'Formulario':
                    <a href="/formulario" class="list-group-item">${penultimaVisita}</a>
                  %elif penultimaVisita == 'Datos':
                    <a href="/user_data" class= "list-group-item">${penultimaVisita}</a>
                  % endif
              % endif
              % if antepenultimaVisita != '':
                  %if antepenultimaVisita == 'Inicio':
                    <a href="/" class="list-group-item">${antepenultimaVisita}</a>
                  %elif antepenultimaVisita == 'Formulario':
                    <a href="/formulario" class="list-group-item">${antepenultimaVisita}</a>
                  %elif antepenultimaVisita == 'Datos':
                    <a href="/user_data" class= "list-group-item">${antepenultimaVisita}</a>
                  % endif
              % endif             
            </div>
        </div>
		    <div class="col-md-4">
			  % if msg:
      	  <p class="wrong">${msg}</p>
      	% endif
      		
			  <p>${texto}</p>
		</div>
		<div class="col-md-4" >
			Aquí encontramos la segunda columna. Para esta práctica a parte de usar webpy también he utilizado boostrap, con el fin de facilitar el desarrollo y diseño de esta página
		</div>
	</div>
</%block>

<%block name="footer">
	<%include file="footer.html"/>
</%block>